html {
  font-family: VictorMono;
  font-size: 130%;
}

.desc, .post_content {
  font-family: Vollkorn;
  font-size: 130%;
}

.post_content img {
  max-width: 980px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
}

:root {
  --default-background: #f0ede6;
  --default-color: #181a18;
  --default-links: #1e681e;
  --default-active: #333382;
  --default-deprecated: #893636;
  --default-gray: #808080;
  --default-footer-a: #967c3b;

  --dark-background: #181a18;
  --dark-color: #ececdf;
  --dark-links: #46c970;
  --dark-active: #44cfde;
  --dark-deprecated: #fe6161;
  --dark-gray: #d3d3d3;
  --dark-footer-a: #ce9b35;

  --dracula-background: #282a36;
  --dracula-color: #f8f8f2;
}

blockquote {
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 25px;
  border-style: solid;
}

details > summary p {
  cursor: pointer;
}

footer {
  text-align: center;
}

summary p {
  display: inline-block;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

a:hover,
a:hover .name,
.name-title:hover,
.article_body p a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.article_body .article_link:hover .title {
  text-decoration: underline;
}

.name-title {
  padding: 5px 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-top: 10px;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.125em;
}

h1 code {
  font-size: 1.125em;
}

h2 code {
  font-size: 0.8em;
}

h3 code {
  font-size: 0.75em;
}

.dropdown_toggle {
  display: none;
}

.webring {
  display: inline-block;
}

.projects a:hover {
  text-decoration: none;
}

.post_content p {
  padding: 10px 0;
  width: 100%;
}

.active .title {
  font-size: 1.75em;
}

p, .footer a {
  display: inline-block;
}

p, li, .footer a {
  margin: 0;
  font-size: 25px;
}

.wrapper {
  min-height: 100vh;
  background-color: var(--default-background);
  color: var(--default-color);
}

.dark_mode_toggle {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.dark_mode_toggle > summary {
  list-style: none;
}

.dark_mode_toggle > summary::-webkit-details-marker {
  display: none;
}

.dark_mode_toggle[open] blockquote,
.dark_mode_toggle[open] + div blockquote {
  background-color: black;
}

.dark_mode_toggle .content {
  background: var(--default-background);
}

.dark_mode_toggle[open] .content {
  background: var(--dark-background);
}

.block {
  padding-bottom: 60px;
}

.left {
  float: left;
}

.right, .dark_mode_toggle .secondary_block {
  float: right;
}

.dark_mode_toggle[open] div,
.dark_mode_toggle[open] + div,
.dark_mode_toggle[open] + div .content {
  background-color: var(--dark-background);
  color: var(--dark-color);
}

.title {
  color: var(--default-active);
}

.dark_mode_toggle[open] + div .title {
  color: var(--dark-active);
}

.subtitle {
  color: var(--default-deprecated);
  font-size: 1.25em;
}

.dark_mode_toggle[open] + div .subtitle {
  color: var(--dark-deprecated);
}

.content {
  background-color: var(--default-background);
  color: var(--default-color);
}

.article_body ,
.content,
.footer {
  max-width: 950px;
}

.article_body, .content, .footer {
  padding: 10px;
  text-align: left;
  margin: auto;
}

.footer {
  padding-bottom: 30px;
}

.links .link {
  padding: 0 20px;
}

.header_links {
  position: absolute;
  padding: 8px 10px;
  z-index: 2;
}

.content_body {
  padding-top: 35px;
}

h1, h2, h3, h4, .header_links .link, .links .link {
  color: var(--default-links);
}

h1:hover .text, h2:hover .text, h3:hover .text, h4:hover .text {
  text-decoration: underline;
  font-weight: 100;
}

.dark_mode_toggle[open] .link,
.dark_mode_toggle[open] + div h1,
.dark_mode_toggle[open] + div h2,
.dark_mode_toggle[open] + div h3,
.dark_mode_toggle[open] + div h4,
.dark_mode_toggle[open] + div .link,
.dark_mode_toggle[open] + div .links .link {
  color: var(--dark-links);
}

.projects a,
footer a {
  color: var(--default-color);
}

.dark_mode_toggle[open] + div .projects a,
.dark_mode_toggle[open] + div footer a {
  color: var(--dark-color);
}

.active .name, .post_content a {
  color: var(--default-active);
}

.navigation {
  height: 10px;
  padding-bottom: 20px;
}

.active .lang, .navigation a {
  color: var(--default-links);
}

.dark_mode_toggle[open] + div .active .name,
.dark_mode_toggle[open] + div .post_content a {
  color: var(--dark-active);
}

.dark_mode_toggle[open] + div .active .lang,
.dark_mode_toggle[open] + div .navigation a {
  color: var(--dark-links);
}

em {
  color: var(--default-gray);
}

.dark_mode_toggle[open] + div em {
  color: var(--dark-gray);
}

.tag {
  color: var(--dark-gray);
}

.dark_mode_toggle[open] + div .tag {
  color: var(--default-gray);
}

h1:hover .tag, h2:hover .tag, h3:hover .tag, h4:hover .tag {
  color: var(--default-gray);
}

.dark_mode_toggle[open] + div h1:hover .tag, 
.dark_mode_toggle[open] + div h2:hover .tag, 
.dark_mode_toggle[open] + div h3:hover .tag, 
.dark_mode_toggle[open] + div h4:hover .tag {
  color: var(--dark-gray);
}

footer a {
  color: var(--default-footer-a);
}

.dark_mode_toggle[open] + div footer a {
  color: var(--dark-footer-a);
}

.row {
  display: block;
  padding: 10px 0;
  width: 100%;
}

.article_link .lang {
  padding: 0 0 10px 0;
}

.primary_block {
  margin: 10px;
}

.name {
  font-size: 130%;
}

.name-title {
  font-size: 150%;
}

.img_class {
  margin: auto;
  text-align: center;
}

.thumbnail_img {
  width: 80%;
}

footer .row {
  padding: 3px 0;
  text-align: center;
}

.desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  overflow: hidden;
  word-break: break-word;
}

pre {
  border-radius: 10px;
  background-color: var(--dracula-background);
  padding-right: 10px;
  margin: 0;
}

.highlight > div {
  border-radius: 10px;
  overflow-x: auto;
  padding: 15px;
}

.post_content > pre,
.highlight > pre {
  padding: 20px;
}

.highlight,
.post_content > pre {
  margin: 20px 0;
}

.previous_post {
  margin-left: auto; 
  margin-right: 0;
  text-align: right;
}

.bottom_buttons {
  margin-top: 20px;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bottom_button {
  display: inline-block;
  width: 250px;
  padding: 20px;
  border: solid;
  border-width: 0.5px;
  border-radius: 12px;
  border-color: var(--default-color);
}

.bottom_button:hover .button_title {
  text-decoration: underline;
}

.bottom_button:hover {
  border-width: 2px;
}

.button_title {
  color: var(--default-active);
  font-family: Vollkorn;
}

.dark_mode_toggle[open] + div .bottom_button {
  border-color: var(--dark-color);
}

.dark_mode_toggle[open] + div .button_title {
  color: var(--dark-active);
}

code {
  font-family: VictorMono;
  font-size: 21px;
  padding: 0 8px;
  background-color: white;
  border-radius: 10px;
}

.dark_mode_toggle[open] + div code {
  background-color: var(--dracula-background);
}

pre code {
  background-color: var(--dracula-background);
  color: var(--dark-color);
  display: block;
}

pre code,
pre .custom-language {
  font-family: VictorMono;
  font-size: 20px;
}

/* Haven't figure out how to deal with tags */
.content_body .links {
  display: none;
}

.webring:hover .webring_links {
  display: block;
  border-style: solid;
  border-color: #181a18;
  border-width: 2px;
}

.webring .webring_links {
  display: none;
  position: absolute;
  padding: 0 20px;
  z-index: 1;
  background-color: var(--default-background);
}

.webring .webring_links .link {
  display: block;
  margin: 10px 0;
}

.dark_mode_toggle[open] + div .webring .webring_links {
  background-color: var(--dark-background);
}

@media screen and (max-width: 1000px) {
  .post_content img {
    max-width: 80%;
  }  
}

@media screen and (max-width: 750px) {
  .dropdown {
    display: block;
    position: relative;
  }

  .dropdown_toggle {
    display: block;
    position: absolute;
    border: none;
    padding: 0 10px;
    font-size: 40px;
    z-index: 1;
    background-color: var(--default-background);
    color: var(--default-color);
  }

  .dark_mode_toggle[open] + div .dropdown_toggle {
    background-color: var(--dark-background);
    color: var(--dark-color);
  }

  .header_links {
    display: none;
    position: absolute;
    padding: 0;
    width: 150px;
    z-index: 1;
    background-color: var(--default-background);
  }

  .dark_mode_toggle[open] + div .header_links {
    background-color: var(--dark-background);
  }

  .header_links p {
    display: none;
  }

  .header_links .link {
    border-style: solid;
    border-color: var(--default-color);
    display: block;
    padding: 10px;
    text-decoration: none;
    z-index: 1;
  }

  .dropdown:hover .dropdown_toggle {
    border: solid;
  }

  .dropdown:hover .header_links {
    display: block;
    margin-top: 50px;
  }

  .dropdown:hover .webring .webring_links {
    display: block;
    padding: 0
  }

  .webring .webring_links .link {
    margin: 0;
  }

  .webring hr {
    display: none;
  }

  .webring {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .bottom_buttons {
    display: block;
  }

  .bottom_button {
    width: calc(100% - 40px);
    margin: 12px 0;
  }
}

/* Newsletter */

.newsletter {
  background-color: var(--dracula-color);
  border-radius: 16px;
  text-align: center;
  font-family: Vollkorn;
  padding: 20px;
  margin-top: 20px;
}

.newsletter h2 {
  padding-bottom: 16px;
  color: var(--default-color);
}

.dark_mode_toggle[open] + div .newsletter {
  background-color: var(--dracula-background);
}
.dark_mode_toggle[open] + div .newsletter h2 {
  color: var(--dark-color);
}

input {
  box-sizing: border-box;
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--default-color);
  background-color: var(--default-background);
  color: var(--default-color);
  font-family: Vollkorn;
  font-size: 100%;
  padding: 12px;
  width: 300px;
  margin-bottom: 12px;
}

input:hover, input:focus {
  border-width: 3px;
}

.dark_mode_toggle[open] + div input {
  background-color: var(--dark-background);
  border-color: var(--dark-color);
  color: var(--dark-color);
}

button {
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--default-links);
  background-color: var(--default-background);
  color: var(--default-links);
  cursor: pointer;
  font-family: Vollkorn;
  font-size: 100%;
  margin-left: 12px;
  padding: 12px;
}

button:hover {
  border-width: 3px;
}

.dark_mode_toggle[open] + div button {
  border-color: var(--dark-links);
  background-color: var(--dark-background);
  color: var(--dark-links);
}

@media screen and (max-width: 520px) {
  input {
    width: 100%;
  }

  .subscribe {
    margin: 12px 0;
  }
}