{{- partial "header.html" . }}

    <article class="content_body primary_block projects">
      {{- if .Params.thumbnail }}
      <div class="img_class">
        <img class="thumbnail_img" src="{{ .Params.thumbnail | absURL }}">
      </div>
      {{- end }}
      <main class="article_body">
        <div class="active">
          <h1 class="row title">{{ .Title }}</h1>
          {{- if .Params.subtitle }}
          <p class="row subtitle">{{ .Params.subtitle }}</p>
          {{- end }}
          <div class="row author">
            <p>{{ .Site.Params.author.name }}</p>
            <p class="right">{{- .Date.Format "January 2, 2006" -}}</p>
          </div>
          <div class="post_content">{{ .Content }}</div>
          {{- if .Params.tags }}
          <div class="tags">
            🔖
            {{- range .Params.tags }}
            {{- $href := print (absURL "tags/") (urlize .) }}
            <a style="border-radius: 5px; border-style: solid; border-width: 1px;" class="tag" href="{{ $href }}">{{ . }}</a>
            {{- end }}
          </div>
          {{- end }}
        </div>
        {{- partial "newsletter.html" . }}
        <div class="bottom_buttons">
          {{ $pages := .CurrentSection.Pages.ByWeight }}
          
          {{ with $pages.Next . }}
          <a href="{{ .RelPermalink }}">
            <div class="bottom_button">
              ← Next
              <br />
              <br />
              <span class="button_title">{{ .Title }}</span>
            </div>
          </a>
          {{ else }}
          <a href="/blog">
            <div class="bottom_button">
              ← Back to menu
            </div>
          </a>
          {{ end }}
          
          {{ with $pages.Prev . }}
          <a href="{{ .RelPermalink }}">
            <div class="bottom_button previous_post">
              Previous →
              <br />
              <br />
              <span class="button_title">{{ .Title }}</span>
            </div>
          </a>
          {{ end }}
        </div>
      </main>
    </article>

{{- partial "footer.html" . }}
