<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=0.75">
    <!-- Title -->
    <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
    <!-- Meta -->
    {{- if eq .Kind "page" }}
    <meta name="description" content="{{ .Summary }}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ .Title }}">
    {{- if .Params.subtitle }}
    <meta property="og:description" content="{{ .Params.subtitle }}">
    <meta name="twitter:description" content="{{ .Params.subtitle }}">
    {{- else }}
    <meta property="og:description" content="{{ .Summary }}">
    <meta name="twitter:description" content="{{ .Summary }}">
    {{- end }}
    <meta name="twitter:title" content="{{ .Title }}">
    {{- $iso8601 := "2006-01-02T15:04:05Z07:00" -}}
    <meta property="article:published_time" {{ .Date.Format $iso8601 | safeHTMLAttr }} />
    <meta property="article:modified_time" {{ .Date.Format $iso8601 | safeHTMLAttr }} />
    {{- if .Params.ss }}
    <meta property="og:image" content="{{ .Params.ss | absURL }}">
    <meta property="og:image:height" content="600">
    <meta property="og:image:width" content="1200">
    <meta name="twitter:image" content="{{ .Params.ss | absURL }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="robots" content="max-image-preview:large">
    <meta name="image" content="{{ .Params.ss | absURL }}" />
    {{- else if .Params.thumbnail }}
    <meta property="og:image" content="{{ .Params.thumbnail | absURL }}">
    <meta name="twitter:image" content="{{ .Params.thumbnail | absURL }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="robots" content="max-image-preview:large">
    <meta name="image" content="{{ .Params.thumbnail | absURL }}" />
    {{- else }}
    <meta property="og:image" content="{{ .Site.Params.favicon | absURL }}">
    <meta name="twitter:image" content="{{ .Site.Params.favicon | absURL }}">
    <meta name="twitter:card" content="summary">
    {{- end }}
    <meta name="twitter:site" content="@{{ .Site.Params.twitter }}">
    {{- else }}
    <meta property="og:type" content="website">
    <meta property="og:title" content="Home - BinHong's Blog">
    <meta property="og:description" content="A place where I scribble notes for future references.">
    <meta property="og:image" content="https://binhong.me/images/profile.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="A place where I scribble notes for future references.">
    <meta name="twitter:title" content="Home - BinHong's Blog">
    <meta name="twitter:image" content="https://binhong.me/images/profile.png">
    <meta name="twitter:image:alt" content="Commissioned image icon of me coding with a pair of black headphones on while sitting on a pink bean bag wearing a light blue hoodie. The laptop is purple with a bunch of mostly MLH demo stickers on it.">
    <meta name="twitter:site" content="@{{ .Site.Params.twitter }}">
    <meta name="description" content="{{ .Site.Params.description }}">
    {{- end }}
    <meta name="author" content="{{ .Site.Params.author.name }}">
    <meta property="og:profile:first_name" content="BinHong">
    <meta property="og:profile:last_name" content="Lee">
    <meta property="og:username" content="binhong">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta name="twitter:site" content="@{{ .Site.Params.social.twitter }}">
    <meta name="fediverse:creator" content="@bh@social.lol">
    <link href="https://social.lol/@bh" rel="me">
    <!-- Styles -->
    <link href="{{ "style.css" | absURL }}?v=1753151316008" rel="stylesheet">
    <link href="{{ "dark-syntax.css" | absURL }}?v=1748746674" rel="stylesheet">
    <link href="{{ "light-syntax.css" | absURL }}?v=1748746674" rel="stylesheet">
    <link href="https://binhong.me/fonts/fonts.css?v=1747738744" rel="stylesheet">
    <link href="https://binhong.me/threads/threads.css" rel="stylesheet">
    <!-- Favicon -->
    {{ if .Site.Params.favicon }}
    <link rel="icon" href="{{ .Site.Params.favicon | absURL }}" />
    {{ end }}
    <!-- Generator -->
    {{- hugo.Generator }}
    <!-- RSS -->
    {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
  </head>
  <body class="{{ if eq .Kind `page` }}single{{ else }}list{{ if .IsHome }} home{{ end }}{{ end }}">
    <details class="dark_mode_toggle" role="button" open>
      <summary>
        <div class="content">
          <div class="secondary_block">
            <p class="name-title">Blog</p>
          </div>
        </div>
      </summary>
    </details>
    <div class="wrapper">
      <div class="content dropdown">
        <button class="dropdown_toggle" aria-haspopup="true" aria-controls="dropdown_menu">+</button>
        <div class="header_links" id="dropdown_menu" aria-labelledby="dropdown_toggle" role="menu">
          <a class="link" href="https://binhong.me/" role="menuitem">About</a>
          <p>|</p>
          <a class="link" href="{{ "" | absURL }}" role="menuitem">Blog</a>
          <p>|</p>
          <div class="webring link" role="menuitem">
            <a class="webring_toggle">Webring</a>
            <div class="webring_links">
              <a class="link" href="https://ringdt.rapid.workers.dev/prev?from=https://binhong.me">Prev</a>
              <hr />
              <a class="link" href="https://ringdt.rapid.workers.dev/next?from=https://binhong.me">Next</a>    
            </div>
          </div>
        </div>
      </div>
