{{- partial "header.html" . }}
        <div class="content_body primary_block">
            <main class="article_body">
                <div class="active">
                    <div class="post_content">
                        <br />
                        Nothing is found here ¯\_(ツ)_/¯
                        <br /><br />
                        Read latest posts <a href="/blog">here</a>!
                    </div>
                </div>
            </main>
        </div>
{{- partial "footer.html" . }}
