{{- $id := .Get 0 -}}
{{- $api_endpoint := "https://cdn.syndication.twimg.com/tweet?id=" -}}
{{- $json := getJSON $api_endpoint $id -}}
{{- $text := .Page.RenderString $json.text -}}
{{- $pp := replace $json.user.profile_image_url_https "normal" "200x200" -}}

{{- if isset $json "entities" -}}
  {{- if isset $json.entities "user_mentions"  -}}
    {{- range $user := $json.entities.user_mentions -}}
      {{- $text = replace $text (printf "@%s" $user.screen_name) (printf "<a class=\"unbreak\" rel=\"noopener\" href='https://twitter.com/%s'>@%s</a>" $user.screen_name $user.screen_name) -}}
    {{- end -}}
  {{- end -}}
 
  {{- if isset $json.entities "urls"  -}}
    {{- range $url := $json.entities.urls -}}
      {{- $text = replace $text $url.url $url.expanded_url -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if isset $json "quoted_tweet" -}}
  {{- $quoted_url := printf "https://twitter.com/%s/status/%s" $json.quoted_tweet.user.screen_name $json.quoted_tweet.id_str -}}
  {{- $text = replace $text $quoted_url "" -}}
  {{- $text = replace $text "<p><a href=\"\"></a></p>" "" -}}
{{- end -}}

<div class="tweet_block">
  <div class="tweet">
    <a class="unbreak" rel="noopener" href="https://twitter.com/{{- $json.user.screen_name -}}/">
      <div class="profile_picture_block">
        <img src="{{- $pp -}}" />
        @{{- $json.user.screen_name -}}
      </div>
    </a>
    <p class="text">
      {{- $text | safeHTML -}}
    </p>
    {{- if isset $json "photos" -}}
      {{- range $item := $json.photos -}}
          <img src="{{- $item.url -}}" />
      {{- end -}}
    {{- end -}}
  
    {{- if isset $json "quoted_tweet" -}}
      {{- $quoted_id := $json.quoted_tweet.id_str -}}
      {{- $quoted_tweet := getJSON $api_endpoint $quoted_id -}}
      {{- $quoted_pp := replace $quoted_tweet.user.profile_image_url_https "normal" "200x200" -}}
      <div class="quoted_tweet">
        {{ .Page.RenderString $json.quoted_tweet.text }}
        <p>
          <a class="unbreak" rel="noopener" href="https://twitter.com/{{- $quoted_tweet.user.screen_name -}}/">@{{- $quoted_tweet.user.screen_name -}}</a>
          <br />
          <a class="unbreak" rel="noopener" href='https://twitter.com/{{- $quoted_tweet.user.screen_name -}}/status/{{- $quoted_tweet.id_str -}}'>
            Read more...
          </a>
      </div>
    {{- end -}}
    <p>
      <a class="unbreak" rel="noopener" href='https://twitter.com/{{- $json.user.screen_name -}}/status/{{- $json.id_str -}}'>
        Read more...
      </a>
    </p>
  </div>
</div>
