html {
  font-family: VictorMono;
  font-size: 130%;
}

.desc, .post_content {
  font-family: Vollkorn;
  font-size: 130%;
}

.post_content .newsletter {
  font-family: Vollkorn;
  font-size: 77%;
}

.post_content img {
  max-width: 980px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
}

:root {
  --default-background: #f0ede6;
  --default-color: #181a18;
  --default-links: #1e681e;
  --default-active: #333382;
  --default-deprecated: #893636;
  --default-gray: #808080;
  --default-footer-a: #967c3b;

  --dark-background: #181a18;
  --dark-color: #ececdf;
  --dark-links: #46c970;
  --dark-active: #44cfde;
  --dark-deprecated: #fe6161;
  --dark-gray: #d3d3d3;
  --dark-footer-a: #ce9b35;

  --syntax-background: #eff1f5;
  --syntax-foreground: #4c4f69;
  
  --dark-syntax-background: #1e1e2e;
  --dark-syntax-foreground: #cdd6f4;
}

blockquote {
  text-align: center;
  background-color: white;
  transition: background 0.8s ease;
  border-radius: 20px;
  padding: 20px;
  margin: 25px;
  border-style: solid;
}

details > summary p {
  cursor: pointer;
}

footer {
  text-align: center;
}

summary p {
  display: inline-block;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

a:hover,
a:hover .name,
.article_body p a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.article_body .article_link:hover .title {
  text-decoration: underline;
}

.name-title {
  padding: 5px 10px 5px 30px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-top: 10px;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.125em;
}

h1 code {
  font-size: 1.125em;
}

h2 code {
  font-size: 0.8em;
}

h3 code {
  font-size: 0.75em;
}

table {
  width: 100%;
  background-color: var(--syntax-background);
  border-radius: 12px;
  padding: 0 10px;
  border: 1px solid var(--default-gray);
}

#darkModeToggle:checked~div table {
  background-color: var(--dark-syntax-background);
  border: 1px solid var(--dark-gray);
}

table th {
  padding: 10px;
  text-align: left;
  font-size: 80%;
}

table td {
  padding: 8px;
  border-top: 1px solid var(--default-gray);
  font-size: 75%;
}

.dropdown_toggle {
  display: none;
  margin: 0;
}

.webring {
  display: inline-block;
}

.projects a:hover {
  text-decoration: none;
}

.post_content p {
  padding: 10px 0;
  width: 100%;
}

.active .title {
  font-size: 1.75em;
}

p, .footer a {
  display: inline-block;
}

p, li, .footer a {
  margin: 0;
  font-size: 25px;
}

.wrapper {
  min-height: 100vh;
  background-color: var(--default-background);
  color: var(--default-color);
  transition: background 0.8s ease;
}

.page_of_title {
  display: block;
  position: relative;
  margin: auto;
}

.dark_mode_toggle[open] blockquote,
#darkModeToggle:checked~div blockquote {
  background-color: black;
  transition: background 0.8s ease;
}

.dark_mode_toggle .content {
  background: var(--default-background);
}

.dark_mode_toggle[open] .content {
  background: var(--dark-background);
}

.block {
  padding-bottom: 60px;
}

.left {
  float: left;
}

.right, .page_of_title .secondary_block {
  float: right;
}

.dark_mode_toggle[open] div,
#darkModeToggle:checked~div,
#darkModeToggle:checked~div .content {
  background-color: var(--dark-background);
  color: var(--dark-color);
  transition: background 0.8s ease;
}

.title {
  color: var(--default-active);
}

#darkModeToggle:checked~div .title {
  color: var(--dark-active);
}

.subtitle {
  color: var(--default-deprecated);
  font-size: 1.25em;
}

#darkModeToggle:checked~div .subtitle {
  color: var(--dark-deprecated);
}

.content {
  background-color: var(--default-background);
  color: var(--default-color);
  transition: background 0.8s ease;
}

.article_body ,
.content,
.footer {
  max-width: 950px;
}

.article_body, .content, .footer {
  padding: 10px;
  text-align: left;
  margin: auto;
}

.footer {
  padding-bottom: 30px;
}

.links .link {
  padding: 0 20px;
}

.header_links {
  position: absolute;
  padding: 8px 10px;
  z-index: 2;
}

.content_body {
  padding-top: 35px;
}

h1, h2, h3, h4, .header_links .link, .links .link {
  color: var(--default-links);
}

h1:hover .text, h2:hover .text, h3:hover .text, h4:hover .text {
  text-decoration: underline;
  font-weight: 100;
}

.dark_mode_toggle[open] .link,
#darkModeToggle:checked~div h1,
#darkModeToggle:checked~div h2,
#darkModeToggle:checked~div h3,
#darkModeToggle:checked~div h4,
#darkModeToggle:checked~div .link,
#darkModeToggle:checked~div .links .link {
  color: var(--dark-links);
}

.projects a,
footer a {
  color: var(--default-color);
}

#darkModeToggle:checked~div .projects a,
#darkModeToggle:checked~div footer a {
  color: var(--dark-color);
}

.active .name, .post_content a {
  color: var(--default-active);
}

.navigation {
  height: 10px;
  padding-bottom: 20px;
}

.active .lang, .navigation a {
  color: var(--default-links);
}

#darkModeToggle:checked~div .active .name,
#darkModeToggle:checked~div .post_content a {
  color: var(--dark-active);
}

#darkModeToggle:checked~div .active .lang,
#darkModeToggle:checked~div .navigation a {
  color: var(--dark-links);
}

em {
  color: var(--default-gray);
}

#darkModeToggle:checked~div em {
  color: var(--dark-gray);
}

.tag {
  color: var(--dark-gray);
}

#darkModeToggle:checked~div .tag {
  color: var(--default-gray);
}

h1:hover .tag, h2:hover .tag, h3:hover .tag, h4:hover .tag {
  color: var(--default-gray);
}

#darkModeToggle:checked~div h1:hover .tag, 
#darkModeToggle:checked~div h2:hover .tag, 
#darkModeToggle:checked~div h3:hover .tag, 
#darkModeToggle:checked~div h4:hover .tag {
  color: var(--dark-gray);
}

footer a {
  color: var(--default-footer-a);
}

#darkModeToggle:checked~div footer a {
  color: var(--dark-footer-a);
}

.row {
  display: block;
  padding: 10px 0;
  width: 100%;
}

.article_link .lang {
  padding: 0 0 10px 0;
}

.primary_block {
  margin: 10px;
}

.name {
  font-size: 130%;
}

.name-title {
  font-size: 150%;
}

.img_class {
  margin: auto;
  text-align: center;
}

.thumbnail_img {
  width: 80%;
}

footer .row {
  padding: 3px 0;
  text-align: center;
}

.desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  overflow: hidden;
  word-break: break-word;
}

pre {
  border-radius: 10px;
  background-color: var(--syntax-background);
  transition: background 0.8s ease;
  color: var(--syntax-foreground);
  padding-right: 10px;
  margin: 0;
}

.highlight > div {
  border-radius: 10px;
  overflow-x: auto;
  padding: 15px;
}

.post_content > pre,
.highlight > pre {
  padding: 20px;
}

.highlight,
.post_content > pre {
  margin: 20px 0;
}

.previous_post {
  margin-left: auto; 
  margin-right: 0;
  text-align: right;
}

.bottom_buttons {
  margin-top: 20px;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bottom_button {
  display: inline-block;
  width: 250px;
  padding: 20px;
  border: solid;
  border-width: 0.5px;
  border-radius: 12px;
  border-color: var(--default-color);
}

.bottom_button:hover .button_title {
  text-decoration: underline;
}

.bottom_button:hover {
  border-width: 2px;
}

.button_title {
  color: var(--default-active);
  font-family: Vollkorn;
}

#darkModeToggle:checked~div .bottom_button {
  border-color: var(--dark-color);
}

#darkModeToggle:checked~div .button_title {
  color: var(--dark-active);
}

code {
  font-family: VictorMono;
  font-size: 20px;
  padding: 0 8px;
  border-radius: 16px;
  background-color: var(--syntax-background);
  transition: background 0.8s ease;
}

#darkModeToggle:checked~div code {
  background-color: var(--dark-syntax-background);
  transition: background 0.8s ease;
}

pre code,
pre .custom-language {
  display: block;
  font-family: VictorMono;
  font-size: 20px;
}

.content_body .tags {
  padding: 10px 0;
}

.tags .tag {
  padding: 0 10px;
}

.tags .tag:hover {
  color: var(--default-links);
}

#darkModeToggle:checked~div .tags .tag:hover {
  color: var(--dark-links);
}

.long_quote {
  border-radius: 0;
  border-style: none;
  text-align: left;
  margin: 20px 0;
  padding: 10px 25px;
  color: var(--default-gray);
  border-left: var(--default-active) solid 5px;
}

#darkModeToggle:checked~div .long_quote {
  border-left: var(--dark-active) solid 5px;
  color: var(--dark-gray);
}

.webring:hover .webring_links {
  display: block;
  border-style: solid;
  border-color: var(--default-color);
  border-width: 2px;
}

#darkModeToggle:checked~div .webring:hover .webring_links {
  border-color: var(--dark-color);
}

.webring .webring_links {
  display: none;
  position: absolute;
  padding: 0 20px;
  z-index: 1;
  background-color: var(--default-background);
}

.webring .webring_links .link {
  display: block;
  margin: 10px 0;
}

#darkModeToggle:checked~div .webring .webring_links {
  background-color: var(--dark-background);
}

@media screen and (max-width: 1000px) {
  .post_content img {
    padding: 0;
    max-width: 100%;
  }  
}

@media screen and (max-width: 750px) {
  .dropdown {
    display: block;
    position: relative;
  }

  .dropdown_toggle {
    display: block;
    position: absolute;
    border: none;
    padding: 0 10px;
    font-size: 40px;
    z-index: 1;
    background-color: var(--default-background);
    color: var(--default-color);
  }

  #darkModeToggle:checked~div .dropdown_toggle {
    background-color: var(--dark-background);
    color: var(--dark-color);
  }

  .header_links {
    display: none;
    position: absolute;
    padding: 0;
    width: 150px;
    z-index: 1;
    background-color: var(--default-background);
  }

  #darkModeToggle:checked~div .header_links {
    background-color: var(--dark-background);
  }

  .header_links p {
    display: none;
  }

  .header_links .link {
    border-style: solid;
    border-color: var(--default-color);
    display: block;
    padding: 10px;
    text-decoration: none;
    z-index: 1;
  }

  #darkModeToggle:checked~div .header_links .link {
    border-color: var(--dark-color);
  }

  .dropdown:hover .dropdown_toggle {
    border: solid;
  }

  .dropdown:hover .header_links {
    display: block;
    margin-top: 50px;
  }

  .dropdown:hover .webring .webring_links {
    display: block;
    margin-top: 5px;
    padding: 0;
    width: 120px;
  }

  .webring .webring_links .link {
    margin: 0;
  }

  .webring hr {
    display: none;
  }

  .webring {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .bottom_buttons {
    display: block;
  }

  .bottom_button {
    width: calc(100% - 40px);
    margin: 12px 0;
  }
}

/* Newsletter */

.newsletter {
  background-color: var(--syntax-background);
  transition: background 0.8s ease;
  color: var(--syntax-foreground);
  border-radius: 16px;
  text-align: center;
  font-family: Vollkorn;
  padding: 20px;
  margin: 20px 0;
}

.newsletter h2 {
  margin: 0;
  padding-bottom: 8px;
  color: var(--syntax-foreground);
}

#darkModeToggle:checked~div .newsletter {
  background-color: var(--dark-syntax-background);
  color: var(--dark-syntax-foreground);
  transition: background 0.8s ease;
}
#darkModeToggle:checked~div .newsletter h2 {
  color: var(--dark-syntax-foreground);
}

input, select {
  box-sizing: border-box;
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--syntax-color);
  background-color: var(--default-background);
  transition: background 0.8s ease;
  color: var(--syntax-color);
  font-family: Vollkorn;
  font-size: 100%;
  padding: 12px;
  width: 300px;
  margin-bottom: 12px;
}

input:hover, input:focus, select:hover, select:focus {
  border-width: 3px;
}

#darkModeToggle:checked~div input,
#darkModeToggle:checked~div select {
  background-color: var(--dark-background);
  transition: background 0.8s ease;
  border-color: var(--dark-syntax-color);
  color: var(--dark-syntax-color);
}

button {
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--default-links);
  background-color: var(--default-background);
  transition: background 0.8s ease;
  color: var(--default-links);
  cursor: pointer;
  font-family: Vollkorn;
  font-size: 100%;
  margin-left: 12px;
  padding: 12px;
}

button:hover {
  border-width: 3px;
}

#darkModeToggle:checked~div button {
  border-color: var(--dark-links);
  background-color: var(--dark-background);
  transition: background 0.8s ease;
  color: var(--dark-links);
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-size: 18px;
  color: var(--default-gray);
  padding-top: 8px;
  text-align: center;
}

#darkModeToggle:checked~div figcaption {
  color: var(--dark-gray);
}

@media screen and (max-width: 520px) {
  input {
    width: 100%;
  }

  .subscribe {
    margin: 12px 0;
  }
}

/* Threads */
.threads_wrapper {
  padding: 20px 0;
}

.threads {
  border: 1px solid var(--default-color);
  border-radius: 12px;
  padding: 16px;
  max-width: 500px;
  margin: auto;
  display: block;
}

.threads p, .threads svg {
  text-decoration: none;
  color: var(--default-color);
}

#darkModeToggle:checked~div .threads {
  border: 1px solid var(--dark-color);
}

#darkModeToggle:checked~div .threads p,
#darkModeToggle:checked~div .threads svg {
  color: var(--dark-color);
}

.threads .handle {
  padding: 0;
  width: max-content;
  display: inline-block;
}

.threads .logo {
  width: 24px;
  height: 24px;
  padding-top: 5px;
  float: right;
}

.threads .description {
  margin: 12px 0;
  font-size: 0.75em;
}

.threads .image img {
  border: 1px solid var(--default-color);
  max-width: 100%;
  padding: 0;
  display: block;
}

.threads .link {
  display: block;
  font-size: 0.75em;
  padding-top: 20px;
}

#darkModeToggle:checked~div .threads .image img {
  border: 1px solid var(--dark-color);
}

/* LinkedIn */
.linkedin_wrapper {
  padding: 20px 0;
}

.linkedin {
  border: 1px solid var(--default-color);
  border-radius: 12px;
  padding: 16px;
  max-width: 800px;
  margin: auto;
  display: block;
}

.linkedin p, .linkedin svg {
  text-decoration: none;
  color: var(--default-color);
  padding: 0;
}

#darkModeToggle:checked~div .linkedin {
  border: 1px solid var(--dark-color);
}

#darkModeToggle:checked~div .linkedin p,
#darkModeToggle:checked~div .linkedin svg {
  color: var(--dark-color);
}

.linkedin .logo {
  width: 20px;
  height: 20px;
  float: right;
}

.linkedin .author {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
  display: block;
}

.linkedin .text {
  font-size: 20px;
  display: block;
}

.linkedin .image img {
  border: 1px solid var(--default-color);
  max-width: 100%;
  padding: 0;
  display: block;
  margin-top: 12px;
}

#darkModeToggle:checked~div .linkedin .image img {
  border: 1px solid var(--dark-color);
}

.linkedin .linkedin-comment {
  padding-left: 12px;
  margin-left: 8px;
  margin-top: 12px;
  border-left: 1px solid var(--default-color);
}

.linkedin .linkedin-comment p {
  font-size: 20px;
  padding-top: 20px;
}

#darkModeToggle:checked~div .linkedin .linkedin-comment {
  border-left: 1px solid var(--dark-color);
}

.linkedin .linkedin-comment .commenter-name {
  font-weight: bold;
  font-size: 18px;
  padding: 0;
}

.linkedin .comment-text {
  font-size: 18px;
  font-style: italic;
}